body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin:0px;
    padding: 0px;
}

header{
    background-color:dimgray;
    padding:20px
}

#h1{
    text-transform: uppercase;
    color:rgba(0, 191, 255, 0.87);
    font-size:x-large;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#img1{
    max-width: 500px;
    max-height: 250px;
}

#img2{
    max-width: 500px;
    max-height: 250px;
}

#img3{
    max-width: 500px;
    max-height: 250px;
}

#ventana{
    margin-top: 25px;
    margin-left:100px;
    float:left;
    width: 600px;
    height: 350px;
    border: 1px solid white;
}


#info{
    margin-top: 40px;
    margin-left: 800px;
    height: 400px;
    width: 300px;
    border: 1px solid white;
}

.btn-group{
    width:100%
}

.btn-group button{
    width: 33.08%;
    height: 50px;
    background-color: dimgray;
    color:white;
    font-size:large;
    font-weight: 600;
    cursor:pointer
}

.ambient_btn{
    width:15%;
    margin-left: 1060px;
}

.infotext{
    margin:auto;
    max-width: 400px;
    font-size: small;
    color:white;

}
.s_id_display{
    margin:auto;
    font-size: small;
    color:white;
}

.auto_custom{
    display:none
}

.live_custom{
    display:none   
}

.checkboxes.show-boxes .auto_custom{
    display:inline
}

.checkboxes.show-boxes .live_custom{
    display:inline
}